.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.square {
  width: 150px;
  height: 150px;
  font-size: 40px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.stripped-table{
  border: 2px solid black;
}

tr td { border-top: thin solid black; }
tr td { border-bottom: thin solid black; }
tr td:first-child { border-left: thin solid black; }
tr td:last-child { border-right: thin solid black; }
